.sectionContainer {
    align-items: center;
    gap: 2rem;
    padding: 3rem;
    width: 100%;
    background-color: #100230;
    border-left: 0.3rem solid var(--text-accent);
    margin: 0 3rem;
}

.title {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-family: monospace;
    color: #fff;
    text-shadow: 0 0 10px var(--title-glow), 0 0 15px var(--title-glow), 0 0 20px var(--title-glow), 0 0 25px var(--title-glow), 0 0 30px var(--title-glow), 0 0 35px var(--title-glow), 0 0 40px var(--title-glow);
    text-decoration: underline var(--text-accent);
    text-decoration-thickness: 0.25rem;
}

.table {
    margin: auto;
    font-size: 1.15vw;
    color: #4CC9F0;
    border-collapse: collapse;
    width: 100%;
}

.thead {
    border-bottom: 2px solid #4CC9F0;
    padding: 1vh 2vw;

}

.td {
    border: 1px solid #4CC9F0;
    text-align: left;
    padding:   1vw;
    font-size: 2.75vh;
}

.th {
    color: #4CC9F0;
    border-bottom: 2px solid #4CC9F0;
    padding: 1vh 2vw;
    text-align: left;
    padding: .5vw;
    font-size: 2.5rem;
}


@media screen and (max-width: 750px) {
    .sectionContainer {
        align-items: center;
        gap: 2rem;
        padding: 1rem;
        width: 100%;
        background-color: #100230;
        border-left: 0.3rem solid var(--text-accent);
        margin: 0;
    }

    .title {
        font-size: 2rem;
    }
    .th {
        color: #4cc9f0;
        border-bottom: 2px solid #FFF0EA;
        padding: 1vh 2vw;
        text-align: left;
        padding: .5vw;
        font-size: 1rem;
    }

    .td{
        border: 1px solid #006600;
        text-align: left;
        padding: .5vw;
        font-size: 0.75rem;
    }
}
